/Aho.class
/ArrayInputOutput.class
/ConsoleTodoApp.class
/DataCalc.class
/Ens65_1.class
/Ens67_1.class
/FindMaxInArray.class
/FizzBuzz.class
/JaggedArray.class
/MenuSelection.class
/MultiArrayExample.class
/MyCalculatorFin.class
/PriceCalculator.class
/SalesDataDisplay.class
/SalesDataDisplayG.class
/SalesDataDisplayH.class
/SalesDataDisplayV2.class
/WeatherApp.class
/fate.class
/test.class
